<h2>Title: <%= @goal.title %> </h2>
<h3>Details: <%= @goal.details %> </h3>
<h3>Visibility: <%= @goal.private ? "Private" : "Public" %> </h3>
<h3>Finished?: <%= @goal.completed ? "Completed" : "Ongoing" %> </h3>
